:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-bright-Yellow: hsl(71, 73%, 54%);

    --neutral-light-gray: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);
    --neutral-text: hsla(0, 0%, 100%)
}

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--neutral-light-gray);
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main section.grid-section {
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    border-radius: 0.5rem;
    overflow-y: auto;
    background-color: var(--neutral-text);
    width: 90%;
    max-width: 38rem;
    max-height: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
}

.grid-section .item.item-1,
.item.item-2,
.item.item-3 {
    padding: 3rem;
}

.grid-section .item.item-2,
.item.item-3 {
    background-color: var(--primary-cyan);
}

.item.item-1 > article >h2 {
    color: var(--primary-cyan);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.025rem;
    line-height: 2.3rem;
}

.item.item-1 > article >h4 {
    margin-top: 2rem;
    color: var(--primary-bright-Yellow);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 2rem;
}

.item.item-1>article > p {
    margin-top: 2rem;
    font-size: 1.4rem;
    letter-spacing: -0.0175rem;
    line-height: 2.6rem;
    color: var(--neutral-grayish-blue);
}

.item.item-2> article >h3 {
    color: var(--neutral-text);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
}

.item.item-2> article >div {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.item.item-2>article > div >h2 {
    font-size: 3.2rem;
    color: var(--neutral-text);
}

.item.item-2 p {
    letter-spacing: -0.02rem;
    line-height: 2.6rem;
    color: var(--neutral-text);
}

.item.item-2>article > div >p {
    margin-left: 0.5rem;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.item.item-2 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary-bright-Yellow);
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}

.item.item-2 a:hover {
    opacity: 0.9;
}

.item.item-2 a {
    color: var(--neutral-text);
    font-weight: 700;
    line-height: 1.9rem;
    letter-spacing: -0.02rem;
    font-size: 1.6rem;
}

.grid-section .item.item-3 {
    opacity: 0.9;
}

.item.item-3 > article >h3 {
    color: var(--neutral-text);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: -0.0225rem;
}

.item.item-3>article > p {
    width: 75%;
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--neutral-text);
    opacity: 0.75;
}

.attribution {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
    main section.grid-section {
        max-width: 70rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-section .item.item-1,
    .item.item-2,
    .item.item-3 {
        padding: 4rem;
    }

    .item.item-1 {
        grid-column: 1 / 3;
    }

    .item.item-1 > article >h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        letter-spacing: -0.03rem;
    }

    .item.item-1 > article >h4 {
        font-size: 1.8rem;
        letter-spacing: -0.0225rem;
    }

    .item.item-1>article > p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: -0.02rem;
    }


}